<ul>
    {{#each products}}
    <li>
        <form id="addToCartForm">
            <div id="productId" data-id="{{_id}}" hidden></div>
            <div class="info"> {{title}} -${{price}}</div>
            <label for="idInput">ID de su carrito:</label>
            <input type="text" id="idInput" name="id" required>
            <button type="submit">Agregar al carrito</button>
        </form>
    </li>
    {{/each}}
</ul>
<br>
<a href="/products?page=1">Pág.1</a>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Pág.Prev.</a>
{{else}}
    <a href="/products?page={{prevPage}}" class="disabled">Pág.Prev.</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Pág.Sig.</a>
{{else}}
    <a href="/products?page={{nextPage}}" class="disabled">Pág.Sig.</a>
{{/if}}

<script type="module" src="/js/product.js"></script>
<a href="/products?page={{totalPages}}">Ult.Pág</a>